name: "App01-Deployment"
on: 
  push:
    branches:
     - main
  pull_request:
    branches:
     - main
  workflow_dispatch:
    inputs:
      action:
        description: 'Choose action to perform'
        required: true
        default: 'apply'
        type: choice
        options:
          - Plan
          - Plan&Apply
          - Plan&Destroy

permissions:
      id-token: write
      contents: read

jobs:
  analysis:
    name: Analyse the Terraform
    environment: dev
    runs-on: ubuntu-latest
    env:
      TF_VAR_CLIENT: ${{ secrets.ARM_CLIENT_ID }}
      TF_VAR_SUB_ID: ${{ secrets.ARM_SUBSCRIPTION_ID }}
      TF_VAR_TENANT: ${{ secrets.ARM_TENANT_ID }}

    steps:
      - name: Checkout the code
        uses: actions/checkout@v3

      # - name: Log in with Azure
      #   uses: azure/login@v1
      #   with:
      #     creds: ${{ secrets.AZURE_CREDENTIALS }}

      -  name: Echo Secrets (for troubleshooting only)
         run: |
          echo "Client ID: ${{ secrets.ARM_CLIENT_ID }}"
          echo "Tenant ID: ${{ secrets.ARM_TENANT_ID }}"
          echo "${{ secrets.ARM_SUBSCRIPTION_ID }}"

      - name: Log in with Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.ARM_CLIENT_ID }}
          tenant-id: ${{ secrets.ARM_TENANT_ID }}
          subscription-id: ${{ secrets.ARM_SUBSCRIPTION_ID }}

      - name: Setup terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.9

      - name: Terraform Init
        run: terraform init
    
      - name: Terraform plan
        id: plan
        if: ${{ github.event.inputs.action == 'plan&apply' || github.event.inputs.action == 'plan' || github.event.inputs.action == 'plan&destroy' }}
        run: terraform plan -out="main.tfplan" -var-file="deploy.tfvars" -input=false

      - name: Terraform Plan Status
        if: steps.plan.outcome == 'failure'
        run: |
          echo "plan successful"
          exit 1

      - name: App01 Infra Deployment
        if: ${{ github.event.inputs.action == 'plan&apply' }}
        run: terraform apply --auto-approve "main.tfplan"

      - name: Terraform Destroy
        if: ${{ github.event.inputs.action == 'plan&destroy' }}
        run: terraform destroy -auto-approve -var-file="deploy.tfvars"
